.boxMenu{ 
  position: fixed;  

  width: 200px;
  height: auto;

  top: 70px;
  right: 15%;
  
  /* background-color: blue; */  
  -webkit-box-shadow: 0px 1px 11px 1px #999999;
  -moz-box-shadow: 0px 1px 11px 1px #999999;
  box-shadow: 0px 1px 11px 1px #999999;  
  border-radius: 10px;

  padding-bottom: 25px;
  padding-top: 15px;
  background-color: white;

}

.txtContainerBold{
  
  font-weight: 600;

  font-size: small; 
  color: dimgray;
  
  padding: 8px 15px;  
  
  cursor: pointer;

}

.txtContainer{ 

  font-weight: 100;

  font-size: small; 
  color: rgba(105, 105, 105, 0.822);
  
  padding: 8px 15px;  
  
  cursor: pointer;
}

.txtContainer:hover, .txtContainerBold:hover{
  background-color: rgba(211, 211, 211, 0.198) ;
}

.lineHr{
  width: 100%;
  border: 0.2px solid rgba(231, 231, 231, 0.698);
  margin: 10px 0px;
}

@media screen and (max-width:575px){

  .boxMenu{
    right: 10%;
  }

}

@media screen and (max-width:500px){

  .boxMenu{
    display: none;
  }

}