.wrapNav{
  position: fixed ;
  width: 100%;      
  background-color: white;
}

.header{  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15%;  
}

.logo{
  cursor: pointer;
}

.nav{
  list-style: none;
}

.nav .wrapSearch{
  padding: 7px 15px;
  border: 1px solid lightgray;
  border-radius: 25px;  
}

.nav .wrapSearch:hover{
  box-shadow: 3px 3px 7px 0px lightgray;
}

.nav .wrapSearch .btnSearch{
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}

.nav .wrapSearch .inputSearch{      
  padding: 5px;    
  border: none;
  /* border: 1px solid lightgray; */
  outline: none;
  margin-right: 10px;
  background-color: transparent;
}

.nav .wrapSearch .btnSearch .icon{    
  color: rgb(9, 147, 211);  
  vertical-align: middle;
}

.nav .wrapSearch .btnSearch .icon:hover{
  color: rgba(9, 147, 211, 0.65);  
}

.btnProfile{
  color: rgba(33, 34, 34, 0.541);  
  background-color: transparent;  
  cursor: pointer;
  outline: none;
  border: 1px solid lightgray;
  padding: 7px 10px;
  border-radius: 25px;  
}

.btnProfile:hover{
  box-shadow: 3px 3px 7px 0px lightgray;
}

.btnProfile .icon{
  vertical-align: middle;
  margin-left: 2px;
  margin-right: 2px;
}

@media screen and (min-width:1440px){
  .header{
    padding: 15px 25%;
  }
}

@media screen and (max-width:575px){
  .header{
    padding: 15px 10%;
  }
}

@media screen and (max-width:500px){

  .btnProfile{
    display: none;
  }

  .logo{
    display: none;
  }

  .header{
    padding: 15px 25px;
  }

  .nav{
    width: 100%;
  }

  .nav .wrapSearch{ 
    padding: 7px 10px;   
    display: flex;
    flex-wrap: wrap;
  }

  .nav .wrapSearch .inputSearch{
    width: 80%;
  }

}

@media screen and (max-width:315px){
  
  .header{    
    display: block;
    padding: 15px 10px;
  }
    
  .nav .wrapSearch .inputSearch{
    width: 75%;
  }

}

@media screen and (max-width:205px){
  .nav .wrapSearch .btnSearch .icon{
    display: none;
  }
  .nav .wrapSearch .inputSearch{
    width: 100%;
  } 
}