.boxMenu{ 
  position: fixed;  

  width: 150px;
  height: auto;

  top: 70px;
  right: 10%;
  
  /* background-color: blue; */  
  -webkit-box-shadow: 3px -2px 17px 0px rgba(224,224,224,1);
  -moz-box-shadow: 3px -2px 17px 0px rgba(224,224,224,1);
  box-shadow: 3px -2px 17px 0px rgba(224,224,224,1);
  border-radius: 10px;

  padding-bottom: 25px;
  padding-top: 10px;

}

.txtContainerBold{
  
  font-weight: 600;

  font-size: small; 
  color: dimgray;
  
  padding: 8px 15px;  
  
  cursor: pointer;

}

.txtContainer{ 

  font-weight: 100;

  font-size: small; 
  color: rgba(105, 105, 105, 0.726);
  
  padding: 8px 15px;  
  
  cursor: pointer;
}

.txtContainer:hover, .txtContainerBold:hover{
  background-color: rgba(211, 211, 211, 0.198) ;
}

.lineHr{
  width: 100%;
  border: 0.1px solid rgb(231, 231, 231);
  margin: 10px 0px;
}