.FuContainer{
  width: 100%;
  min-height: 100vh;
  align-items: center;
  overflow: hidden;
}
.Header{
  width: 100%;
  height: 80px;
}
.Container{
  width: 100%;
  height: 100%;
  padding: 2.5px;
  margin: 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row{
  width: 100%;
  padding: 2.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.Desktop{
  width: 100%;
  padding: 2.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.col {
  width: 100%;
  height: 100%;
  padding: 2.5px;
  margin: 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Mobile{
  width: 0px;
  height: 0px;
  overflow: hidden;
  padding: 2.5px;
  margin: 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Side{
  width: 30%;
  height: 100%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.CardProfile{
  width: 250px;
  display: flex;
  padding: 60px 10px 40px;
  border-radius: 7px;
  border: none;
  transition: color 0.15s ease, border-color 0.15s ease;
    -webkit-box-shadow: -1px 0px 9px -1px lightgray;
    -moz-box-shadow: -1px 0px 9px -1px lightgray;
    box-shadow: -1px 0px 9px -1px lightgray;
  align-items: center;
  justify-content: center;
  cursor: default;
  overflow: hidden;
}
.CardProfile img{
  width: 128px;
  height: 128px;
  border-radius: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}
.CardProfile a{
  text-decoration: underline;
  color: rgb(9, 147, 211);
  outline: none;
}
.CardProfile a:hover{
  color: rgba(9, 124, 190, 0.89);
}
.SpecialUser{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}
.SpecialUser p{
  margin: 0px;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(83, 83, 83);
}
.bold{
  font-weight: bold;
}
.SpecialUser span{
  color: rgb(9, 147, 211);
  text-decoration: none;
}
.SpecialUser button{
  background-color: rgb(9, 147, 211);
  padding: 5px 10px;
  font-size: medium;
  border: none;
  outline: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;  
}
.SpecialUser button:hover{
  border: none;
  background-color: rgba(9, 147, 211, 0.76);
}
.linehr{
  width: 100%;
  border: 0.8px solid rgba(231, 231, 231, 0.698);
  margin: 20px 0px;
}
.CardSaldo{
  width: 100%;
  display: flex;
  align-items: center;
}
.CardSaldo p {
  margin-top: 0px;
}
.ColSaldo{
  width: 100%;
}
.ColSaldo p{
  margin: 0px;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 5px;
}
.Saldo{
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.Saldo span{
  font-size: small;
}
.ColSaldo button{
  background-color: rgb(109, 109, 109);
  padding: 3px 12px;
  font-size: small;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 15px;  
}
.ColSaldo button:hover{
  border: none;
  background-color: rgb(25, 177, 25);
}
.Main{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 890px) {
  .CardProfile{
    box-shadow: none;
    padding: 20px 10px 40px;
  }
  .Side{
    border-right: 1px solid rgba(231, 231, 231, 0.698);
    padding: 0px 0px 20px;
  }
}
@media (max-width: 768px) {
  .Side{
    padding:0px 0px 20px;
  }
  .CardProfile{
    padding:20px 2.5px 40px
  }
}
@media (max-width: 500px){
  .Desktop{
    width: 0px;
    height: 0px;
    overflow: hidden;
  }
  .Mobile{
    width: 100%;
    height: 100%;
  }
  .Side{
    width: 100%;
    justify-content: center;
  }
  .Main{
    width: 100%;
    justify-content: center;
  }
}
