.containerFull{
    width: 100%;
    min-height: 100vh;
    align-items: center;
    overflow: hidden;
}

.container{
    width: 100%;
    padding: 2.5px;
    margin: 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 100%;
}

.header h1{
    width: 100%;
    padding-top: 25px;
    padding-bottom: 10px;    
    text-align: center;
}

.main {
    width: 100%;    
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    width: 100%;
    padding: 2.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.rowCenter{
    width: 100%; 
    margin: 10px 0px;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.col {
    width: 100%;
    height: 100%;
    padding: 2.5px;
    margin: 8px 0px;
    display: flex;
    flex-direction: column;
}

.colCenter{
    width: 100%;
    height: 100%;
    padding: 2.5px;
    margin: 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    width: 350px;       
    flex-basis: 45%;
    padding: 25px;
    padding-top: 25px;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border-radius: 7px;
    transition: color 0.15s ease, border-color 0.15s ease;
    -webkit-box-shadow: -1px 0px 9px -1px lightgray;
    -moz-box-shadow: -1px 0px 9px -1px lightgray;
    box-shadow: -1px 0px 9px -1px lightgray;
}
.headsign{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 5px;
}

.headsign p {
    font-size: small;
    color: rgb(139, 139, 139);
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: center;
}
.Link{
    color: rgba(9, 124, 190, 0.89);
    outline: none;
}
.BoldLink{
    font-size: medium;
    color: rgba(9, 124, 190, 0.89);
    font-weight: 400;
    outline: none;
}
.span{
    font-size: small;
    color: rgb(139, 139, 139);
    margin-top: 5px;
}
.input{
    border: none;
    border-bottom: 0.25px solid gray;
    margin-top: 5px;
    padding: 0px;
    text-align: center;
    width: 10%;
    margin:0px 2px;
    font-size: larger;        
}
.input:focus{
    outline: none !important;
    border: none;
    border-bottom: 1.5px solid rgb(9, 147, 211);
}

.input:hover{
    outline: none !important;
    border: none;
    border-bottom: 1.5px solid rgb(9, 147, 211);
}

.button{
    background-color: rgb(9, 147, 211);
    width: 100%;
    padding: 15px 0px;
    font-size: medium;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;  
    font-weight: bold; 
}
.button:hover{    
    background-color: rgba(9, 147, 211, 0.76);
}

@media (max-width: 500px) {
    .header h1{
        padding-top: 10px;
        padding-bottom: 0px;
    }
    .card{
        padding-top: 0px;
        width: 100%;
        box-shadow: none;
    }
}
@media (max-width: 268px) {
    .card{
        padding: 10px;
    }
    .header{
        display: none   ;
    }        
}
  