.FuContainer{
  width: 100%;
}
.row{
  width: 100%;
  height: 100%;
  padding: 2.5px;
  display: flex;
  flex-direction: row;
}
.LineHr{
  width: 100%;
  padding-top: 20px;
  border-bottom: 5px solid #cacacaa9;
}
.Linehr{
  padding-top: 10px;
  width: 100%;
  border-bottom: 3px solid #cacacaa9;
}

/* Main Content */
.Main{
  width: 100%;
  padding: 0px 40px;
  display: flex;
}
.MainCon{
  width: 1120px;
  height: 100%;
  margin: auto;
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
}
.Content{
  width: 100%;
  height: 100%;
  padding: 2.5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.SideContent{
  width: 60%;
  height: 100%;
  justify-content: center;
}
.ConHeader{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
}
.ConHeader h1{
  font-size: 26px;
  color: #222222;
  margin: 0px;
}

/* Group List Item */
.GroupList{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1.8px solid #dddddd;
  border-radius: 7px;
  background-color: #f7f7f7;
  box-shadow: #0000001e 0px 6px 16px;
  margin-top: 30px;
}
.GroupList:hover{
  box-shadow: #00000033 0px 6px 16px;
}
.TittleGroup{
  width: 100%;
  height: 100%;
  padding: 20px 15px;
  border-bottom: 1px solid #dddddd;
}
.TittleGroup h1{
  font-size: 22px;
  color: #222222;
  margin: 0px;
}
.ItemList{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Item{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dddddd;
}
.Item:hover{
  background-color: #f0f0f0da;
}
.Item:last-child{
  border: none;
}
.InfoItem{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0px 15px;
}
.InfoItem h1{
  width: 65%;
  font-size: 16px;
  color: #222222;
  margin: 0px;
}
.InfoItem p{
  width: 35%;
  font-size: 16px;
  color: #717171;
  margin: 15px 0px;
  display: flex;
  justify-content: flex-end;
}
.ItemAct{
  width: 100%;
  display: flex;
  padding: 20px 15px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: #ff4d94;
}
.ItemAct p{
  margin: 0px;
  font-size: 18px;
  color: #222222;
  padding-left: 5px;
}
.ItemAct .Review{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ItemQty{
  width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ItemQty button{
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0px;
  outline: none;
  font-size: 26px;
  background-color: #ffffff00;
  color: #3399ff;
  cursor: pointer;
}
.ItemQty p{
  font-size: 16px;
  color: #222222;
  margin: 0px;
  font-weight: 600;
  padding-left: 5px;
}
.ItemQty input{
  width: 31%;
  text-align: center;
  font-size: 16px;
  color: #f5f5f5;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 5px 7px;
  background-color: #3399ff;
  margin-left: 5px;
  transition: width 1s;
}
.ItemQty input:hover{
  border-bottom: 2px solid #8a8a8ac4;
  color: #717171;
  background-color: #ffffff00;
  border-radius: 0px;
}
.ItemQty input:focus{
  width: 100%;
  color: #717171;
  border-radius: 0px;
  border-bottom: 2px solid #8a8a8ac4;
  background-color: #ffffff00;
}
.ItemQty input::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
.ItemQty input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Side{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  position: -webkit-sticky;
  top: 5px;
}
.BoxCard{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.Card{
  width: 100%;
  height: 100%;
  box-shadow: #0000001e 0px 6px 16px;
  border: 1px solid #dddddd;
  border-radius: 7px;
  padding: 20px 20px;
  background-color: #f7f7f7;
}
.Card:hover{
  box-shadow: #00000033 0px 6px 16px;
}
.Preview{
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.Preview img{
  width: 30%;
  border-radius: 7px;
}
.PreviewDetail{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.PreviewDetail h1{
  font-size: 16px;
  color: #222222;
  margin: 0px;
  margin-bottom: 5px;
  width: 100%;
}
.PreviewDetail p{
  font-size: 14px;
  color: #717171;
  margin: 0px;
  width: 100%;
}
.ConPreview{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}
.ConPreview h1{
  font-size: 16px;
  color: #222222;
  margin: 0px;
  margin-bottom: 10px;
  width: 100%;
}
.ConPreview div{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ConPreview p{
  font-size: 16px;
  color: #717171;
  margin: 0px;
}
.CheckOut{
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.CheckOut button{
  width: 100px;
  height: 30px;
  border: none;
  background-color: #3399ff;
  font-size: 16px;
  font-weight: 600;
  color: whitesmoke;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}
.CheckOut button:hover{
  background-color: #3399ffe1;
}
.Footer{
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: #00000033 0px -6px 16px;
  background-color: #f0f0f0ee;
  visibility: hidden;
  display: none;
}
.FootAct{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 15px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.FootCon{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.FootCon h1{
  font-size: 18px;
  color: #222222;
  margin: 0px;
}
.FootCon p{
  font-size: 16px;
  color: #717171;
  margin: 0px;
  margin-top: 5px;
}
.FootAct button{
  width: 18%;
  height: 100%;
  border: none;
  background-color: #3399ff;
  font-size: 12px;
  font-weight: 600;
  color: #f5f5f5;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}
.FootAct button:hover{
  background-color: #3399ffe1;
}
@media (max-width:880px){
  .SideContent{
    width: 57%;
  }
  .Side{
    width: 43%;
  }
  .BoxCard{
    width: 95%;
  }
}
@media (max-width:800px){
  .SideContent{
    width: 55%;
  }
  .Side{
    width: 45%;
  }
  .Main{
    padding: 0px 20px;
  }
}
@media (max-width:768px){
  .SideContent{
    width: 53%;
  }
  .Side{
    width: 47%;
  }
  .Main{
    padding: 0px 15px;
  }
}
@media (max-width:700px){
  .Side{
    display: none;
    visibility: hidden;
  }
  .Footer{
    display: unset;
    visibility: visible;
  }
  .GroupList:last-child{
    margin-bottom: 80px;
  }
  .SideContent{
    width: 100%;
  }
}
@media (max-width:500px){
  .ConHeader h1{
    font-size: 22px;
  }
  .TittleGroup h1{
    font-size: 18px;
  }
  .InfoItem h1{
    font-size: 12px;
  }
  .InfoItem p{
    font-size: 12px;
  }
  .ItemAct button{
    font-size: 22px;
  }
  .ItemQty button{
    font-size: 26px;
  }
  .FootCon h1{
    font-size: 16px;
  }
  .FootCon p{
    font-size: 14px;
  }
  .FootAct button{
    width: 100px;
  }
}
@media (max-width:320px){
  .Main{
    padding: 0px;
  }
  .ConHeader h1{
    padding-left: 10px;
  }
  .GroupList{
    border: none;
  }
  .Content{
    padding: 0px;
  }
  .TittleGroup{
    padding: 20px 10px;
  }
  .InfoItem{
    padding: 0px 10px;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
  }
  .InfoItem h1{
    width: 100%;
    margin-top: 15px;
  }
  .InfoItem p{
    margin-top: 10px;
    width: 100%;
  }
  .ItemAct{
    padding: 0px 10px 15px;
  }
}