.parent{
  padding: 100px 15%;
}

.img{
  width: 100%;
  height: auto;
  border-radius: 7.5px;  
}

.row1 .col1{  
  width: 50%;
  float: left;
}

.row1 .col1 .box{
  position: absolute;
  top: 150px;
  width: 300px;
  min-height: 200px;    
  height: auto;
  border-radius: 7.5px;
  padding: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 11px 1px #d9d9d9;
  -moz-box-shadow: 0px 1px 11px 1px #d9d9d9;
  box-shadow: 0px 1px 11px 1px #d9d9d9;  
}

.row1 .col2{    
  width: 80%;  
  float: right;
  padding-top: 25px;
}