.outer{
    width: 100%;
    height: 100vh;
    background-color: rgba(145, 145, 145, 0.712);
    display: table;
    overflow: hidden;
    position: fixed;
    z-index: 1;
}

.container{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.card{
    width: 450px;
    height: 75%;
    display: inline-block;
    background: #f0f0f0;
    border-radius: 5% 5% 5% 5%;
    box-shadow:  20px 20px 60px rgba(0, 0, 0, 0.1),
    -20px -20px 60px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.card:hover{
    box-shadow:  20px 20px 60px rgba(0, 0, 0, 0.2),
    -20px -20px 60px rgba(0, 0, 0, 0.2);
}

.cardBody{
    padding: 5%;
}

.topBar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 25px;
}

.title{
    margin-left: 10px;
    text-align: left;
    font-size: 30px;
    font-family: Circular;
    border-bottom: 2px solid #0984e3;
    width: 17px;
}

.itemList{
    margin-top: -10px;
    overflow: scroll;
    height: 400px;
}

.itemList::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.itemList::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.closeBar{
    padding: 3px;
    background-color: #ffffff;
    width: 32px;
    height: 32px;
    border-radius: 100px 100px 100px 100px;
    outline: none;
    cursor: pointer;
    font-size: 22px;
}

.itemOrder{
    width: 100%;
    background-color: #ffffff;
    border-radius: 5%;
    padding: 3%;
    margin: 5% 0% ;
    text-align:left;
    display: flex;
    flex-direction: row;
}

.imgOrder{
    position: relative;
    width: 75px;
    height: 75px;
    text-align: left;
}

.totalOrder{
    margin-top: 0;
    padding-left: 20px;
}

.itemTitle{
    padding-bottom: -100%;
    font-size: 17px;
}

.itemTotal{
    margin-top: -20px;
    font-size: 15px;
}

.itemPrice{
    text-align: right;
    margin-left: 180px;
    margin-top: -35px;
    font-size: 20px;
    color: #0984e3;
}

.cardBottom{
    border-radius: 5% 5% 5% 5%;
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #ffffff;
    top: -10px;
}

.subtotal{
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

.payment .title{
    color: #999999;
}

.payment .title p{
    font-size: 10px;
    margin-left: -10px;
    margin-top: 5px;
}

.cardPayment{
    background-color: white;
    border-radius: 5px;
    transition: 0.4s;
    display: flex;
    flex-direction: row;
    height: 30px;
}

.cardPayment .images img{
    width: 80px;
}

.cardPayment .title p{
    font-weight: bold;
    font-size: 15px;
    color: #1f1f1f;
}

.cardPayment .title .deskripsi{
    color: #999999;
    font-size: 13px;
}

.checkboxStyle{
    display:block;
    cursor: pointer;
    border: 1px solid #0984e3;
    padding: 10px;
    border-radius: 7px 7px 7px 7px ;
    margin-top: 10px;
}
.checkboxStyle:focus{
    display:block;
    cursor: pointer;
}
/*.checkboxStyle:hover{*/
/*    border: solid .1px #0984e3;*/
/*    transition: border-width 0.4s linear;*/
/*    border-radius: 5px;*/
/*}*/

.checkboxStyle .radio{
    display: none;
}

.payment .button{
    margin-bottom: 20px;
}

.subtitle{
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: #6e6e6e;
}

.line{
    border: .5px solid rgba(0, 0, 0, 0.1);
}

.button{
    margin-top: 20px;
    cursor: pointer;
    height: 40px;
    background-color: #0984e3;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    outline: none;
}

.button:hover{
    cursor: pointer;
    background-color: #087dd7;
}

.button:active{
    height: 40px;
    background-color: #0776cc;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #f0f0f0;
    border: none;
}

.totalPrice{
    color: #0675cb;
}

.titlePayment{
    padding-left: 17px;
    margin-top: -20px;
}

.itemPayment{
    font-size: 18px;
    color: #1e1e1e;
}

.descPayment{
    position: absolute;
    margin-top: -10px;
}

.images{
    font-size: 30px;
    color: #1e1e1e;
}